/* ==========================================================================
   Estilos Personalizados de Identidad Institucional para Jazzmin Admin
   ========================================================================== */

:root {
    --azul-unam: #002b49;       /* Azul profundo institucional */
    --dorado-unam: #d4af37;     /* Dorado elegante metálico */
    --oscuro-sidebar: #0a192f;  /* Azul marino ultra oscuro para el fondo minimalista */
    --blanco-puro: #ffffff;
}

#header, .main-header, .navbar, .brand-link {
    background-color: var(--azul-unam) !important;
}

.main-sidebar, .sidebar {
    background-color: var(--oscuro-sidebar) !important;
}

.nav-sidebar .nav-item>.nav-link.active {
    background-color: var(--azul-unam) !important;
    border-left: 4px solid var(--dorado-unam) !important;
    color: var(--blanco-puro) !important;
}

.nav-sidebar .nav-link:hover {
    color: var(--dorado-unam) !important;
}

.brand-link .brand-text, .navbar-nav .nav-link {
    color: var(--blanco-puro) !important;
}

.login-box .card-header, .btn-primary {
    background-color: var(--azul-unam) !important;
    border-color: var(--azul-unam) !important;
    color: var(--blanco-puro) !important;
}

.btn-primary:hover {
    background-color: var(--dorado-unam) !important;
    border-color: var(--dorado-unam) !important;
    color: var(--azul-unam) !important;
    font-weight: bold;
}

.content-wrapper .content-header {
    border-bottom: 1px solid rgba(212, 175, 55, 0.2) !important;
}

a {
    color: var(--azul-unam);
}
a:hover {
    color: var(--dorado-unam);
}